<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="member">
 	
 	<select id="getData" resultType="com.gura.spring02.member.dto.MemberDto" parameterType="int">
 		SELECT num, name, addr
 		FROM member
 		WHERE num=#{num}
 	</select>
 	
 	<update id="update" parameterType="com.gura.spring02.member.dto.MemberDto">
 		UPDATE member
 		SET name=#{name}, addr=#{addr}
 		WHERE num=#{num}
 	</update>
 	
 	<delete id="delete" parameterType="com.gura.spring02.member.dto.MemberDto">
 		DELETE FROM member
 		WHERE num=#{num}
 	</delete>
 	
 	
 	<select id="getList" resultType="com.gura.spring02.member.dto.MemberDto"> <!-- select된 row 하나를 어떤 type 에 담을지 결정하는것이 resultType이다. -->
 		SELECT num, name, addr
 		FROM member
 		ORDER BY num ASC
 	</select>
 		
 	<insert id="insert" parameterType="com.gura.spring02.member.dto.MemberDto">
 		INSERT INTO member
 		(num, name, addr)
 		VALUES(member_seq.NEXTVAL, #{name}, #{addr})
 	</insert>
 	
 </mapper>